*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color:#e6f4f1;  
  background-image: url("/sj-objio-XFWiZTa2Ub0-unsplash.jpg");
  background-size: cover;
  background-position: center; /* Centers the image */
    width: 100%; 
    min-height: 100vh;

}

header{
  background-color: #94744d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.heading{
  color: #FFFFFF;
}

h1{
 margin: 0%;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 2rem;

}
h1,button{
  text-align: center;
}
/*Input area where the user adds the new note*/
#input-area-container{
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 100px;
  
}
.title{
  display: inline-block;
  padding: 1rem;
  width: 25rem;
  height: 2rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1rem 1rem 0 0;
  outline: none;
}

#note{
  display: block;
  padding: 1rem;
  margin: 0 auto;
  width: 25rem;
  outline: none;
  border: none;
  resize: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 1rem 1rem;
}
.noteInput:focus{
  background-color: rgb(229, 241, 250);
}

#add-icon{
  left: 22rem;
  right: 0;
  position: absolute;
  margin: 0 auto;
  top: 9.28rem;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  color: #94744d;
}

#add-icon:hover {
box-shadow: #a0a8df 0 1px 10px;
transition-duration: 0.1s;
}

/*Notes section */
.noteBox{
  display: block;
  }

.note-container{
float: left;
width: 200px;
margin: 20px;
padding: 5px;
background-color: #FFFFFF;
border-radius:0.4rem;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
position: relative;
}

.note-container h1 {
  font-size: 1rem;
  display: block;
  padding-left: 0.5rem;
}

.note-container p{
  font-size: 0.9rem;
  padding: 0.5rem;
}

#delete-icon{
  position: absolute;
  left: 10rem;
  bottom: 0.5rem;
  cursor: pointer;
  color: #94744d;
}


